.review-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #000;
  padding: 20px;
  border: 1px solid #ccccccb0;
  border-radius: 8px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 1s ease;
  box-shadow: 0 15px 15px 0 #000000;
}

.review-container {
  opacity: 1;
}

.review-content {
  display: flex;
  flex-direction: column;
  padding: 15px 0 20px 0;
}

.review-card-rating {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.review-rate {
  display: flex;
  flex-direction: column;
  font-weight: bold
}

.review-rate-stars {
  font-size: 26px;
  width: 310px;
  margin: 5px 0 5px 0;
}

.review-icon {
  font-size: 25px;
}

.review-input,
.review-textarea {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--color-grey-background);
  transition: color 0.4s, transform 0.4s;
}


.review-input:hover,
.review-textarea:hover {
  transform: scale(1.01);
  color: var(--color-grey-background);
}

.review-textarea {
  height: 100px;
}

.review-submit,
.review-close {
  margin: 10px 0 10px 0;
}

.review-submit {
  background-color: #7222ce;
  color: white;
  padding: 17px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
}

.review-submit:hover {
  background-color: var(--color-purple-background);
  transform: scale(1.02);
  font-weight: bold;
}

.review-close {
  background-color: #00000000;
  color: var(--color-black);
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

.review-close:hover {
  background-color: #cc0000;
  color: var(--color-white);
  font-weight: bold;
  transform: scale(1.02);
}
