:root {    
  --color-white: #F2F2F2;     
}

.stream-container {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  max-height: auto;
  margin-bottom: 20px;
  justify-content: center; 
}

.stream-container img {
  border-radius: 6px;
  max-width: 100%;
  max-height: auto;
  display: flex;
} 
