.carousel-grid-container {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  width: 100%;
}

.carousel-cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-card {
  width: 200px;
  margin-right: 20px;
}

.carousel-card img {
  width: 100%;
  transition: transform 0.3s;
}

.carousel-card.active img {
  transform: scale(1.06);
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}