.movie-page {
    color: #fff;
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 2rem auto;
}

@media (min-width: 1300px) {
    .movie-page{
        max-width: 70%;
    }
}
@media (max-width: 1000px) {
    .movie-page{
        flex-direction: column;
    }
}

.movie-page svg {
    font-size: 1.5rem;
    color: #610094;
}

.card-container {
    padding-right: 30px;
}

.movie-page .movie-card {
    text-align:left;
}

.movie-page .movie-card img,
.movie-page .movie-card h2,
.movie-page .movie-card p {
    margin-bottom: 1rem;
}

.movie-page .movie-card h2 {
    font-size: 2rem;
}

.movie-page .movie-card p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.movie-page .movie-card img {
    max-width: 15rem;
}

.tagline {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.genres img {
    width: 100px;
}

.info {
    margin-bottom: 1.5rem;
}

.info h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.description {
    padding-bottom: 10rem;
}

.description p {
    line-height: 1.4rem;
}

.infos {
    display: flex;
    justify-content: space-between;
}
