.login-inputs input.input-error {
  border: 1px solid red !important;
}

.login-inputs input.input-valid {
  border: 1px solid green !important;
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-icon {
  font-size: 50px;
  margin: 20px;
}

.login-inputs {
  font-size: 14px;
  color: #000;
  background-color: #ffffff;
}

.login-inputs {
  padding: 15px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; 
}

.login-inputs input {
  background-color: #cecece;
}

.login-inputs input,
.login-inputs .login-button {
  border: none;
  margin: 10px;
  border-radius: 6px;
  width: 320px;
  padding: 17px;
  transition: background-color 0.3s, transform 0.2s; 
}

.login-inputs .login-button {
  background-color: #8C52FF;
  color: #ffffff;
  cursor: pointer;
}

.login-inputs .login-button:hover {
  background-color: #dfdff8;
  color: #000;
  transform: scale(1.05); 
}

.login-inputs input:focus,
.login-inputs .login-button:active {
  background-color: #f1f1f1; 
  transform: scale(1.02); 
}

.signup-content {
  margin: 15px 0;
}

.signup-content label {
  color: #4e4e4e;
}

.signup-button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  color: #000000;
  position: relative;
  transition: transform 0.2s;
}

.signup-button:hover {
  transform: scale(1.02);
}

.signup-button:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: -1px;
  left: 0;
}
