.card-container-movies {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content-movies {
  display: flex;
}

.poster-content-movie {
  display: flex;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.poster-movie-image {
  max-width: 70%;
  max-height: auto;
}

.info-movies-container {
  padding: 0 20px 0 0;
}

.info-movies-container h1 {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-movies-container .movie-tag {
  margin-bottom: 15px;
}

.info-movies {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: #c4c4c4;
  padding: 10px;
  font-weight: bold;
  max-width: 300px;
  max-height: auto;
}

.info-card h2, p{
  margin: 5px;

}

.info-card-companies {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #c4c4c4;
  padding: 10px;
  font-weight: bold;
  width: 100%;
  max-height: auto;
  padding-left: 15px;
  margin-right: 30px;
}

.companie-movie-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 7%;
  margin-left: 20px;
}

.companie-movie {
  display: flex;
  flex-direction: row;
}

.companie-image {
  display: flex;
  margin-top: 5px;
  max-height: 80px;
}

.info-description {
  border-radius: 7px;
  background-color: #c4c4c4;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;
  font-weight: bold;
}

/* Review components */

.review-button-container{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.open-review-button {
  width: 50%;
  background-color: var(--color-purple);
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  transition: background-color 0.3s ease;
}

.open-review-button:hover {
  background-color: var(--color-purple-bold);
}

.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.review-overlay.blur-background {
  filter: blur(20px);
}

/* List Reviews */

.list-movies-title {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 40px;
}

.list-review-cards {
  margin-left: 10px;
}

/* Trailer */

.trailer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 20px;
}