.tvSerie-page {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  background-color: #292929;
  color: #ddd;
  user-select: none;
}

.tagline {
  font-style: italic;
  color: #b38cff; /* Roxo claro */
}

.infos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.info {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #333;
}

.info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #b38cff; /* Roxo claro */
}

.genres,
.networks {
  display: flex;
  flex-wrap: wrap;
}

.genre {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #444;
}

img {
  max-width: 200px;
  object-fit: contain;
}

.description {
  margin-top: 20px;
}

.description h3 {
  color: #b38cff; /* Roxo claro */
  font-size: 20px;
  margin-bottom: 10px;
}

.description p {
  color: #ddd;
}
