.card-container-series {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-content-series {
  display: flex;
}

.poster-content-serie {
  display: flex;
  max-width: 30%;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.poster-serie-image {
  max-width: 70%;
  max-height: auto;
}

.info-series-container {
  padding: 0 20px 0 0;
  width: 50%;
}

.info-series-container h1 {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.info-series-container .serie-tag {
  margin-bottom: 15px;
}

.info-series {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.info-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: #c4c4c4;
  padding: 10px;
  font-weight: bold;
  max-width: 300px;
  max-height: auto;
}

.info-card h2, p{
  margin: 5px;

}

.network-image {
  display: flex;
  margin-top: 5px;
  max-height: 50px;
}

.info-card-network {
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  background-color: #c4c4c4;
  padding: 10px;
  font-weight: bold;
  max-height: auto;
  padding-left: 15px;
  margin-top: 20px;
  margin-right: 30px;
}

.network-serie-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 7%;
  margin-left: 20px;
}

.info-description {
  border-radius: 7px;
  background-color: #c4c4c4;
  margin-top: 20px;
  margin-right: 30px;
  padding: 20px;

  font-weight: bold;
}

/* Review components */

.review-button-container{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  align-items: center;
}

.open-review-button {
  width: 50%;
  background-color: var(--color-purple);
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.open-review-button:hover {
  background-color: var(--color-purple-bold);
}

.review-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.review-overlay.blur-background {
  filter: blur(20px);
}