:root {
  --color-black: #181818;
  --color-grey-background: #202020;
  --color-grey: #4e4e4e;
  --color-grey-2: rgba(37, 37, 37, 0.719);
  --color-purple-bold: #5328c0;
  --color-purple: #8758ff;
  --color-purple-hover: #a37eff;
  --color-blue: #5cb8e4;
  --color-white: #f2f2f2;
}
.film-grid-container {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.4s;
}

.film-grid-container:hover {
  transform: scale(1.05);
}

.film-item {
  width: 100%;
  overflow: hidden;
}

.film-grid-image {
  width: 100%;
  height: 350px;
  display: block;
}

.card-grid-title {
  height: 110px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-grid-title h2 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.card-grid-title p {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.card-grid-title p svg {
  color: gold;
  font-size: 1rem;
}