#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-bottom: 0.2px solid #ffffff42;
  background-color: black;
  color: #5e17eb;
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  width: 300px;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: none;
}

#navbar form button {
  background-color: #5e17eb;
  border: 1px solid #cc6eff;
  border-radius: 4px;
  color: #fff;
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

#navbar form button:hover {
  background-color: #ffffff;
  color: #5e17eb;
}

.user-submit-icon {
  font-size: 24px;
  height: 40px;
}

.user-submit-content {
  align-items: center;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}
