#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-white);
  color: var(--color-black);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.493);
}

#navbar h2 a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
}

#navbar form {
  display: flex;
  gap: 0.5rem;
}

#navbar input {
  width: 300px;
  padding: 0.2rem 0.8rem;
  border-radius: 4px;
  border: 1px solid var(--color-grey-background);
  transition: color 0.4s, transform 0.4s;
}

#navbar input:hover {
  transform: scale(1.01);
  color: var(--color-grey-background);
}

#navbar form button {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-background);
  border-radius: 4px;
  color: var(--color-black);
  padding: 0.5rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s, transform 0.4s;
}

#navbar form button:hover {
  background-color: var(--color-white);
  color: var(--color-purple-bold);
  transform: scale(1.04);
}

.icon-spacer {
  margin-left: 10px;
}

.user-submit-content {
  align-items: center;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
}
